{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/q.jpg' %}" alt="logo" style="width:40px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ch' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cg' %}">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ci' %}">Contact</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ch' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dsh' %}">dashboard</a>
    </li>
    {% endif %}
  </ul>
  <ul class="navbar-nav ml-auto" style="margin-right:120px">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'log' %}">login</a>
    </li>
    {% else %}
    <li class="dropdown">
      <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
        {{user.username}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Change password</a>
        <a class="dropdown-item" href="#">profile</a>
        <a class="dropdown-item" href="{% url 'logo' %}">Logout</a>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
</nav>
